*
{
    margin: 0;
}
.chara_image
{
    width: 210px;
        height: 200px;
        display: flex;
        
       

        
        

}

.main_cont
{
    
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;

   
    
    
    
    
}

.chara_descrip
{
 padding-top: 10px;
 height: 50%;
 width: 50%;
 padding-left: 20px;
 color: #ffffff;

 
}
.chara_container
{
    
    display: flex;
    width: 30%;
    border-radius:  8px;
    background-color: #31363F;
    height: 200px;
    width: 500px;
    border: 4px solid white;

    
}

.chara_container:hover
{
    background-color: #1d1d1f;
}
.head{
  padding-top: 5%;
  text-align: center;
  color: black;
  font-size: 70px;
}
.head-section{
    background-color: whitesmoke;
    height: 200px;
}
.name{
    font-size: 20px;
    font-weight: bolder;
}
.name:hover{
    color: rgb(255, 173, 20);
}
.last_seen
{
opacity: 0.5;
padding-top: 60px;
}
.button
{
    background-color: #A2FF86;
    height: 50px;
    width: 100px;
    text-align: center;
    border-radius: 20px;
    color: black;
    margin-top: 20px;
    border: 2px solid black;
        
    
}
.button:hover
{
    background-color: black;
    color: #A2FF86;
    border: #A2FF86 solid 2px;
}
.but_con
{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    background-color: whitesmoke;
    /* padding-right: 25px;
    padding-top: 10px; */
}
.page_no
{
    height: 50px;
    width: 40px;
    margin: 20px;
    font-size: 20px;
    color: black;
    text-align: center;
    border-radius: 10px;
    margin-top: 30px;
}